.todo{
    display: flex;
    align-items: center;
    padding: 14px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.todo_radio, .todo_radio_unchecked{
    height: 24px;
    width: 24px;
    border-radius: 50px;
    background-color: #ad02fe;
    border: 1px solid #bf56ff;
    cursor: pointer;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.todo_text, .todo_text_checked {
    color: white;
    flex: 1;
    border-bottom: 1px solid #484040;
    padding-bottom: 10px;
    padding-left: 8px;
}

.todo_delete{
    cursor: pointer;
    color: #AD02FE;
    padding-left: 4px;
    padding-right: 4px;
}

.todo_radio_unchecked{
    background-color: transparent;
}

.todo_text_checked{
    text-decoration: line-through;
    color: #0f90a1;
}